<form [formGroup]="passwordForm" class="p-m-4">
  <h2>Set New Password</h2>
  <div class="p-field">
    <span class="p-input-icon-left">
      <i class="pi pi-unlock"></i>
      <input formControlName="password" type="password" pInputText id="password-input" placeholder="New Password" />
    </span>
    <small
      *ngIf="shouldDisplayRequiredMessage(passwordForm.controls.password)"
      id="password-input-help"
      class="p-error p-d-block"
      >This field is required.</small
    >
  </div>

  <div class="p-field">
    <span class="p-input-icon-left">
      <i class="pi pi-unlock"></i>
      <input
        formControlName="repeated"
        type="password"
        pInputText
        id="repeated-password-input"
        placeholder="New Password Again"
      />
    </span>
    <small
      *ngIf="shouldDisplayRequiredMessage(passwordForm.controls.repeated)"
      id="repeated-input-help"
      class="p-error p-d-block"
      >This field is required.</small
    >
  </div>
  <small
    *ngIf="shouldDisplayPasswordMismatchMessage(passwordForm)"
    id="password-mismatch-help"
    class="p-error p-d-block p-mb-2"
    >Passwords must match.</small
  >

  <div class="p-d-flex p-jc-between p-ai-center">
    <a routerLink="/login">Cancel</a>
    <p-button
      (click)="submit()"
      [disabled]="passwordForm.invalid"
      icon="pi pi-save"
      iconPos="right"
      label="Save"
    ></p-button>
  </div>
</form>
