<form [formGroup]="resetForm" class="p-m-4">
  <h2>Reset Your Password</h2>
  <div class="p-field">
    <span class="p-input-icon-left">
      <i class="pi pi-user"></i>
      <input formControlName="username" type="text" pInputText id="username-input" placeholder="Username" />
    </span>
    <small
      *ngIf="shouldDisplayRequiredMessage(resetForm.controls.username)"
      id="username-input-help"
      class="p-error p-d-block"
      >This field is required.</small
    >
  </div>

  <div class="p-d-flex p-jc-end">
    <p-button
      (click)="submit()"
      [disabled]="resetForm.invalid"
      icon="pi pi-user"
      iconPos="right"
      label="Reset"
    ></p-button>
  </div>
</form>
